{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>ADD membres</h1>
        {{ form(form) }}
        <button type="submit" name="btn" class="btn btn-primary">Add User !</button>
    </div>
    
{% endblock %}